/**
 * Firefox Autohide Vertical Tabs
 * Roemer Peters 2025
 * https://github.com/roembol2000/ff-verttabs
 *
 * v2.1.1
 */

:root {
  /*  Set to 'none' to hide tabbar. Set to 'block' to show tabbar  */
  --vt-hide-tabbar: none;
  
  /*  Set these variables to change width  */
  --vt-collapsed-width: 36px;
  --vt-expanded-width: 250px;
  
  /*  Animation settings  */
  --vt-animation-time: 150ms;
  --vt-animation-delay: 0ms;
}

/* Remove tab bar (comment out if you want the tabbar) */
#TabsToolbar {
  display: var(--vt-hide-tabbar);
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  width: var(--vt-collapsed-width) !important;
  min-width: 0 !important;
  z-index: 100;
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > .sidebar-browser-stack > #sidebar {
  transition: width var(--vt-animation-time) ease-in-out var(--vt-animation-delay) !important;
  width: var(--vt-collapsed-width);
}

#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > .sidebar-browser-stack > #sidebar {
  width: var(--vt-expanded-width);
}

/* Remove sidebery header */
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  display: none;
}

/* Remove ugly sidebar splitter */
#sidebar-splitter {
  display: none;
}